In [14]:
import pandas as pd 
from  sklearn.feature_extraction.text import TfidfVectorizer

In [15]:
path="C:/Users/ASUS/Desktop/nlp/texts/Corona_NLP_test.xls"
data=pd.read_csv(path)

https://www.kaggle.com/datasets/datatattle/covid-19-nlp-text-classification

In [16]:
data

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,1,44953,NYC,02-03-2020,TRENDING: New Yorkers encounter empty supermar...,Extremely Negative
1,2,44954,"Seattle, WA",02-03-2020,When I couldn't find hand sanitizer at Fred Me...,Positive
2,3,44955,NaN,02-03-2020,Find out how you can protect yourself and love...,Extremely Positive
3,4,44956,Chicagoland,02-03-2020,#Panic buying hits #NewYork City as anxious sh...,Negative
4,5,44957,"Melbourne, Victoria",03-03-2020,#toiletpaper #dunnypaper #coronavirus #coronav...,Neutral
...,...,...,...,...,...,...
3793,3794,48746,Israel ??,16-03-2020,Meanwhile In A Supermarket in Israel -- People...,Positive
3794,3795,48747,"Farmington, NM",16-03-2020,Did you panic buy a lot of non-perishable item...,Negative
3795,3796,48748,"Haverford, PA",16-03-2020,Asst Prof of Economics @cconces was on @NBCPhi...,Neutral
3796,3797,48749,NaN,16-03-2020,Gov need to do somethings instead of biar je r...,Extremely Negative
3797,3798,48750,"Arlington, Virginia",16-03-2020,I and @ForestandPaper members are committed to...,Extremely Positive

In [17]:
from nltk.tokenize import  word_tokenize

In [18]:
data["OriginalTweetTokenized"]=data["OriginalTweet"].apply(lambda x: word_tokenize(x))

In [19]:
def lexical_diversity(text):
    return len(text)/len(set(text))
data["LexicalDiversity"]=data["OriginalTweetTokenized"].apply(lambda x: lexical_diversity(x))

In [20]:
data

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment,OriginalTweetTokenized,LexicalDiversity
0,1,44953,NYC,02-03-2020,TRENDING: New Yorkers encounter empty supermar...,Extremely Negative,"[TRENDING, :, New, Yorkers, encounter, empty, ...",1.241379
1,2,44954,"Seattle, WA",02-03-2020,When I couldn't find hand sanitizer at Fred Me...,Positive,"[When, I, could, n't, find, hand, sanitizer, a...",1.128205
2,3,44955,NaN,02-03-2020,Find out how you can protect yourself and love...,Extremely Positive,"[Find, out, how, you, can, protect, yourself, ...",1.000000
3,4,44956,Chicagoland,02-03-2020,#Panic buying hits #NewYork City as anxious sh...,Negative,"[#, Panic, buying, hits, #, NewYork, City, as,...",1.266667
4,5,44957,"Melbourne, Victoria",03-03-2020,#toiletpaper #dunnypaper #coronavirus #coronav...,Neutral,"[#, toiletpaper, #, dunnypaper, #, coronavirus...",1.428571
...,...,...,...,...,...,...,...,...
3793,3794,48746,Israel ??,16-03-2020,Meanwhile In A Supermarket in Israel -- People...,Positive,"[Meanwhile, In, A, Supermarket, in, Israel, --...",1.000000
3794,3795,48747,"Farmington, NM",16-03-2020,Did you panic buy a lot of non-perishable item...,Negative,"[Did, you, panic, buy, a, lot, of, non-perisha...",1.108108
3795,3796,48748,"Haverford, PA",16-03-2020,Asst Prof of Economics @cconces was on @NBCPhi...,Neutral,"[Asst, Prof, of, Economics, @, cconces, was, o...",1.129032
3796,3797,48749,NaN,16-03-2020,Gov need to do somethings instead of biar je r...,Extremely Negative,"[Gov, need, to, do, somethings, instead, of, b...",1.062500
3797,3798,48750,"Arlington, Virginia",16-03-2020,I and @ForestandPaper members are committed to...,Extremely Positive,"[I, and, @, ForestandPaper, members, are, comm...",1.322581